
p{
    font-style: italic;
    font-weight: bolder;
}

body{
    background-color:#081c15;

}

h1{

    text-align: center;
    color:plum ;
 text-shadow:4px 2px #000000;
 font-size: 3em;
    
}

.master{

    width: 600px;
    height: 400px;
  
background-color: #76c893;
  margin: auto;
}

.res {
    color: #34a0a4;
}

input{
    margin-top: 10px;
}

.top
{
    margin-top: 30px;
}

.bottom{
    margin-top: 30px;
}


.adjust{
    margin-top: 90px;
}

.btn{
    float: left;
    margin-top: 40px;
}

.fres h1{
    float: left;
}

.fres img
{
    width: 100px;
    height: 150px;
    margin-left: 18px;
}

h1{
    font-size: larger;
}